/*
Author: Justin Nichols
Class: CSC337 (Web Development)
Purpose: Provides one of three available styles for the website.
         The user can toggle these styles using buttons at the bottom of each page.
*/

* {
    margin: 0;
    padding: 0;
}

h1 {
    padding-bottom: 20px;
}

.productImg {
    padding: 15px 0 5px 0;
    width: 150px;
}

.navButton {
    display: block;
    padding: 30px 15px 0 0;
    color: white;
    text-align: right;
    font-size: 18px;
}

.styleButton {
    position: fixed;    
    bottom: 20px;
    width: 150px;
    height: 1.5em;
    background-color: gray;
    text-align: center;
    color: white;
    font-size: 30px;
    opacity: 0.85;
}

#header, #navigation {
    height: 270px;
    width: 300px;
    text-align: center;
    color: white;
    border: 5px solid gray;
}

#header {
    float: left;
    background-color: purple;
}

#pricecoLogo {
    width: 100px;
    padding: 0 0 20px 0;
}

#navigation {
    float: right;
    background-color: darkblue;
}

#content {
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#styleA {
    left: 30px;
}

#styleB {
    left: 200px;
}

#styleC {
    left: 370px;
}
