/*
Author: Justin Nichols
Class: CSC337 (Web Development)
Purpose:
*/

* {
    margin: 0;
    padding: 0;
}

.productImg {
    padding: 15px 0 5px 0;
    width: 150px;
}

.styleButton {
    position: fixed;    
    bottom: 20px;
    width: 150px;
    height: 60px;
    background-color: gray;
    color: white;
    font-size: 40px;
    opacity: 0.85;
}

#header {
    float: left;
    height: 300px;
    width: 400px;
    background-color: purple;
    color: white;
    text-align: center;
}

#pricecoLogo {
    width: 100px;
}

#navigation {
    float: right;
    height: 300px;
    width: 400px;
    background-color: purple;
    color: white;
}

#content {
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#styleA {
    left: 30px;
}

#styleB {
    left: 210px;
}

#styleC {
    left: 390px;
}
