/*
Author: Justin Nichols
Class: CSC337 (Web Development)
Purpose:
*/

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

#content {
    padding: 15px 20px;
    height: 100%;
    background-color: lightgray;
}
